html {
    width: 100%;
    height: 100%;
}

body,
div,
h1,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    /* background:#092632 !important; */
    background: url(../images/2.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.header {
    /* border-bottom: 1pt solid #267AAA; */
    height: 10%;
    /* line-height: 10% !important; */
    font-size: 15pt;
    color: #fff;
    width: 100%;
    justify-content: center
}

.logo,
.title {
    float: left;
}

.title {
    margin: 1.52% 0 0 1%;
    font-size: 20pt;
    /* letter-spacing: 5pt; */
}

.line_png img {
    position: absolute;
    top: 9vh;
    left: 0vh;
}

.logo {
    width: 6%;
    padding-left: 1%;
    height: 100%;
}

.logo>img {
    width: 100%;
    height: 100%;
}

.menu_right {
    float: right;
    /* margin-right: 1%; */
    width: 40rem;
    height: 100%
}

.menu_right ul {
    height: 100%;
}

.list-inline li {
    margin: 5% 2.4% 0 0;
    font-size: 2.3rem;
    background: url(../images/icon_title1.png) no-repeat;
    background-size: 100% 100%;
    height: 5rem;
    width: 30%;
    line-height: 5rem;
    text-align: center;
    /* line-height: 6vh !important; */
    cursor: pointer;
}

.clear {
    clear: both;
}

.panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    /* color: #fff */
}

.Flexble {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.map {
    color: #fff;
    margin: 1.3% 1% 0 0;
}

.SubMenus {
    /* width: 26%; */
    margin: 1% 1% 0 1%;
    height: 100%;
}

.menubar {
    color: #fff;
    background: url(../images/border1.png)no-repeat;
    background-size: 100% 100%;
    width: 18rem;
    height: 97%;
    padding: 1em 0 0 1.3em;
    margin-right: 1em;
}

.menubar ul li {
    height: 6vh;
    line-height: 6vh
}

.menubar ul li i {
    margin-right: 1em;
}

.panel {
    background: none
}

.panelcontainer {
    /* margin-right:4%; */
    color: #fff;
    font-size: 12pt;
    width: 32rem;
    margin-top: 1.3%;
    height: 95%;
    border: 1px solid #056B79;
}

.title-header {
    /* padding: 10%; */
    color: #fff;
}

.solid1 {
    height: 21%;
}

.solid1>div:last-child>button {
    background: none;
    border: 1px solid #05D8F2;
    font-size: 10pt;
    /* padding: 1.85rem; */
    width: 32%;
    height: 100%;
}

.solid1>div:last-child>button:nth-child(1) {
    border: 1px solid #fefc0e;
}

.solid1>div:last-child>button:nth-child(2) {
    border: 1px solid #0cfbe3;
}

.solid1>div:last-child>button:nth-child(3) {
    border: 1px solid #27f917;
}

.solid1>div:last-child {
    /* background: url(../images/border.png) no-repeat;
  background-size: 100% 100%; */
    height: 50%;
    padding: 1em 0.5em;
}

.routerView {
    height: 76%;
}

.title-header {
    background: url(../images/title.png) no-repeat;
    background-size: 100% 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.routerView {
    /* margin: 0.7em 0; */
    /* height: 65.5vh;
    border: 1px solid #056B79; */
    /* padding: 0.5em; */
    /* text-align: center; */
}

.menubar ul li {
    cursor: pointer;
    font-size: 1.5rem;
}

.menubar ul {
    margin-top: 10%
}

.bgcolor {
    background: rgba(255, 254, 254, 0.35) !important;
}


/*管线查询  --- 属性拾取 */

.prop {
    padding: 0 0 0 1rem;
    /* font-size: 13pt; */
}

.prop li {
    height: 4vh;
    /* line-height: 3vh; */
}

.prop li span:nth-child(1) {
    width: 10rem;
    display: inline-block;
    /* text-align:justify; */
    /* text-justify:inter-ideograph;IE */
}

/*管线查询  --- 图层管理 */

.el-tree-node__content:hover {
    background: none !important;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background: none !important;
}

.el-tree {
    /* padding-top: 1rem; */
    color: #fff !important;
    font-size: 18pt;
    background: none !important;
    padding-left: 1rem;
}

.expanded {
    display: none !important;
}

.el-tree-node__content>.el-tree-node__expand-icon {
    display: none !important;
}

.el-checkbox {
    position: absolute !important;
    right: 1em;
}

.el-tree-node__content {
    height: 3rem !important;
    /* line-height: 4rem; */
}

.el-tree-node__label {
    font-size: 12pt !important;
    /* margin-top: 1.5rem; */
}

.el-checkbox__inner {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

label {
    margin: 0;
}


/* 道路检索*/
        /* 拖拽功能-------（+属性拾取 #pickup #pickup_prop） */
#wrapper,#pickup {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-size: cover;
}

#scroller,#pickup_prop {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.query {
    height: 80%;
    /* position: relative; */
}

.query .query_select {
    height: 6%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 3%;
}

.query .query_select select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 6px 0 6px 8px;
    /* margin-left:2%; */
    margin: 0% 0 0 2%;
    background: #051C2C;
    width: 95%;
    border: 1px solid #056B79;
    outline: none;
    color: #fff;
    background: url('../images/icon_select.png') no-repeat scroll right center transparent;
}

.query .query_select select>option {
    color: black;
}

.query select::-ms-expand {
    display: none;
}

.query .min {
    position: static;
}

.query .min li {
    word-break: break-all;
    line-height: normal;
    text-align: left;
    margin-left: 3%;
    padding: 2px 0px;
    /* font-size: 17px; */
    padding: 1% 0% 1% 1%;
}

.query .min li:hover {
    color: yellow;
    cursor: pointer;
}

.query .query_min {
    clear: both;
    height: 65%;
    overflow: hidden;
    margin-bottom:5%;
}

.query_page {
    position: absolute;
    bottom: 2.1%;
    padding-left: 0.9%;
    z-index: 999;
    background-color: #000;
}

.query_page>div {
    display: inline-block;
}

.query .path_page {
    /* height: 6%; */
    /* border:1px solid red; */
     /* bottom: 1.4%; */
    /*padding-left: 5.9%; 
     position:static; */
}

.query .query_ym span a {
    color: #fff;
    text-decoration: none;
}


/* .query .page_input{
    padding:2% 3%;
} */

.query a {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

/* .query .page_all {
    margin-left: 8%;
} */

.query .query_serch {
    background: #041D2A;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 1% 3%;
    border: 1px solid #056B79;
    width: 20%;
    height: 5%;
    text-align: center;
    float: right;
    position: relative;
    right: 10px;
    line-height: normal;
}


/*  道路查询  设施搜索*/

#pathlist {
    position: relative;
    overflow: hidden;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#pathscroll {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#pathscroll>li:hover {
    color: yellow;
}

#pathlist {
    height: 86% !important;
    margin-bottom: 5%
}

#pathscroll>li {
    padding: 4% 0 4% 2%;
    width: 102%;
    box-sizing: border-box;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.clear {
    zoom: 1;
}

.lf {
    float: left;
}

.rf {
    float: right;
}

.path_select {
    border: 1px solid #056B79;
    /* width: 22rem; */
    float: left;
    margin: 2% 0 0 2%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('../images/icon_select.png') no-repeat scroll right center transparent;
    padding: 2%;
    padding-right: 45%;
    cursor: pointer;
    box-sizing: border-box;
}

.path_select::-ms-expand {
    display: none;
}

.path_select>option {
    color: #000;
}

.path_search {
    box-sizing: border-box;
    float: left;
    border: 1px solid #056B79;
    padding: 1.5% 6% 2% 6%;
    margin: 2%;
    background: transparent;
}

.path_detail {
    margin: 0;
    padding-left: 2%;
    box-sizing: border-box;
}

.path_detail>ol {
    padding-left: 0;
}

.path_page {
    position: absolute;
    bottom: 2.1%;
    padding-left: 1rem;
    z-index: 999;
    width: 31.8rem;
    margin-bottom: 0.5rem;
}

.page_first>button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0.5rem;
}

.path_query {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 76%;
    cursor: pointer;
}

@media(max-height:768px) {
    .path_query {
        height: 72%;
    }
    .facility_search {
        height: 79%;
    }
}

@media(max-height:670px) {
    .path_query {
        height: 73%;
    }
    .facility_search {
        height: 77%;
    }
}

@media(max-height:450px) {
    .path_query {
        height: 67%;
    }
    .facility_search {
        height: 69%;
    }
}

.path_page>div {
    display: inline-block;
}

.page_input {
    border: 1px solid rgba(0, 254, 203, 0.5);
    color: #fff;
    width: 4rem;
    text-align: center;
    background-color: transparent;
    padding: 3%;
    margin-left: 0.5rem;
}
.page_count{
    margin-left: 0.5rem;
}
.facility_search {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80%;
}

.page_all {
    margin-left: 2rem
}

.page_item {
    color: rgba(254, 229, 0, 0.993);
}

.facility_detail {
    margin-top: 3%;
}

#facilitylist {
    position: relative;
    overflow: hidden;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#facilitylist {
    height: 86% !important;
    margin-bottom: 5%
}

#facilityscroll {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#facilityscroll>li {
    padding: 3% 0 3% 1%;
    width: 102%;
    box-sizing: border-box;
}

#facilityscroll>li:hover {
    color: yellow;
}